.addNote {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    color: #fff;
}
mat-form-field{
    padding:0 5px;
    margin:0 5px;
    width: 95%;
}
.messageinput{
    position: fixed;
    bottom: 0;
    width: 100%;   
}